html, body {
  height: 100%;
}

body {
  background-image: url(../images/background.png);
  background-size:cover;
/*  color:white;*/
/*  font-family: 'Fjalla One', sans-serif;*/
}

input.new-item {
  width: 75%;
  height: 35px;
  margin-top: 25px;
  margin-right: 25px;
}

input.new-item:focus {
  outline: none;
}

#footer{
    font-family: 'Changa', sans-serif;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 0;
    background-color: #289988;
    color: white;
    position:fixed!important;
    position:absolute;
    margin: 0 auto;
    visibility:visible;
}

#footer h4{
margin: 0 auto;
padding: 5px;
}

.todo-list {
  margin-top: 75px;
}

.list-group-item {
  height: 50px;
  line-height: 2;
}


.list-group-item.new-item {
  height: 100px;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-top: 3px;
  line-height: 0.5;
}

.edit {
  width: 100%;
}





.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}



/*---Modal CSS---*/
